@import 'react-calendar/dist/Calendar.css';

#root {
  max-width: 100%;
  text-align: center;
}

.app-container {
  background-color: #4a67a7;
  text-align: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.active {
  color: #9e4539;
  font-weight: 700;
}

.navbar {
  position: sticky;
  top: 2rem; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #153f99);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #35597a);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
