:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #152d99;
  transition: box-shadow 0.3s;
  text-decoration: inherit;
}
a:hover {
  color: #35597a;
  box-shadow: #213547;
  font-size: larger;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  /* display: flex; */
  place-items: normal start;
  min-width: 360px;
  min-height: 100vh;
  color: black;
  background-color: #4a67a7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #fac147;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2em 0.5em;
}
button:hover {
  border-color: #996f15;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  color: black
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #4a67a7;
  }
  a:hover {
    color: #fac147;
  }
  button {
    background-color: #f9f9f9;
  }
}
