/* Style the day numbers in black */
.custom-calendar .react-calendar__tile,
.custom-calendar button {
  color: black;
}

/* Style the day numbers in red for Saturdays and Sundays */
.custom-calendar .react-calendar__month-view__days__day:nth-child(7n),
.custom-calendar .react-calendar__month-view__days__day:nth-child(7n + 1) {
  color: red;
}

/* Center the calendar and menuBuilder horizontally */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.menuBuilder {
  background-color: #f8f9fa; /* Adjust background color as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between select elements as needed */
}

/* Add media query for smaller screens */
@media (max-width: 767px) {
  .menu-container {
    margin: 2rem 1rem;
  }
}